---
import type SEO from "types/SEO";
import BaseLayout from "@layouts/BaseLayout.astro";
import NavBar from "@components/NavBar.astro";

const SEO: SEO = {
    title: "There's never a challenge I won't take on | Dan Ferg",
    description:
        "From my work on the digital-first charity, to creating innovative methods for valuing land; there's never a channelge I won't take on.",
    imageUrl: "/assets/snow.jpg",
    openGraph: {
        type: "website",
    },
};
---

<BaseLayout {...SEO}>
    <!-- Section: NavBar -->
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <NavBar />
    </div>

    <!-- Section: Hero -->
    <div class="relative bg-indigo-800">
        <div class="absolute inset-0">
            <img
                class="h-full w-full object-cover"
                src="https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=60&&sat=-100"
                alt=""
            />
            <div
                class="absolute inset-0 bg-indigo-800 mix-blend-multiply"
                aria-hidden="true"
            >
            </div>
        </div>
        <div
            class="relative mx-auto max-w-7xl py-24 px-4 sm:py-32 sm:px-6 lg:px-8 text-center"
        >
            <h1
                class="text-4xl font-bold tracking-tight text-white sm:text-5xl lg:text-6xl"
            >
                Mentorship
            </h1>
            <p class="mt-6 max-w-3xl mx-auto text-xl text-indigo-100">
                Mattis amet hendrerit dolor, quisque lorem pharetra.
                Pellentesque lacus nisi urna, arcu sociis eu. Orci vel lectus
                nisl eget eget ut consectetur. Sit justo viverra non adipisicing
                elit distinctio.
            </p>
        </div>
    </div>

    <!-- Section: Stats -->
    <div class="bg-gray-50 pt-12 sm:pt-16">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="mx-auto max-w-4xl text-center">
                <h2
                    class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
                >
                    Trusted by developers from over 80 planets
                </h2>
                <p class="mt-3 text-xl text-gray-500 sm:mt-4">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Repellendus repellat laudantium.
                </p>
            </div>
        </div>
        <div class="mt-10 bg-white pb-12 sm:pb-16">
            <div class="relative">
                <div class="absolute inset-0 h-1/2 bg-gray-50"></div>
                <div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                    <div class="mx-auto max-w-4xl">
                        <dl
                            class="rounded-lg bg-white shadow-lg sm:grid sm:grid-cols-3"
                        >
                            <div
                                class="flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r"
                            >
                                <dt
                                    class="order-2 mt-2 text-lg font-medium leading-6 text-gray-500"
                                >
                                    Pepperoni
                                </dt>
                                <dd
                                    class="order-1 text-5xl font-bold tracking-tight text-indigo-600"
                                >
                                    100%
                                </dd>
                            </div>
                            <div
                                class="flex flex-col border-t border-b border-gray-100 p-6 text-center sm:border-0 sm:border-l sm:border-r"
                            >
                                <dt
                                    class="order-2 mt-2 text-lg font-medium leading-6 text-gray-500"
                                >
                                    Delivery
                                </dt>
                                <dd
                                    class="order-1 text-5xl font-bold tracking-tight text-indigo-600"
                                >
                                    24/7
                                </dd>
                            </div>
                            <div
                                class="flex flex-col border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l"
                            >
                                <dt
                                    class="order-2 mt-2 text-lg font-medium leading-6 text-gray-500"
                                >
                                    Calories
                                </dt>
                                <dd
                                    class="order-1 text-5xl font-bold tracking-tight text-indigo-600"
                                >
                                    100k
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section: Testimony -->
    <section class="overflow-hidden py-12 md:py-20 lg:py-24">
        <div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <svg
                class="absolute top-full right-full translate-x-1/3 -translate-y-1/4 transform lg:translate-x-1/2 xl:-translate-y-1/2"
                width="404"
                height="404"
                fill="none"
                viewBox="0 0 404 404"
                role="img"
                aria-labelledby="svg-workcation"
            >
                <title id="svg-workcation">Workcation</title>
                <defs>
                    <pattern
                        id="ad119f34-7694-4c31-947f-5c9d249b21f3"
                        x="0"
                        y="0"
                        width="20"
                        height="20"
                        patternUnits="userSpaceOnUse"
                    >
                        <rect
                            x="0"
                            y="0"
                            width="4"
                            height="4"
                            class="text-gray-200"
                            fill="currentColor"></rect>
                    </pattern>
                </defs>
                <rect
                    width="404"
                    height="404"
                    fill="url(#ad119f34-7694-4c31-947f-5c9d249b21f3)"></rect>
            </svg>

            <div class="relative">
                <img
                    class="mx-auto h-8"
                    src="https://tailwindui.com/img/logos/workcation-logo-indigo-600-mark-gray-800-and-indigo-600-text.svg"
                    alt="Workcation"
                />
                <blockquote class="mt-10">
                    <div
                        class="mx-auto max-w-3xl text-center text-2xl font-medium leading-9 text-gray-900"
                    >
                        <p>
                            &ldquo;Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Nemo expedita voluptas culpa
                            sapiente alias molestiae. Numquam corrupti in
                            laborum sed rerum et corporis.&rdquo;
                        </p>
                    </div>
                    <footer class="mt-8">
                        <div class="md:flex md:items-center md:justify-center">
                            <div class="md:flex-shrink-0">
                                <img
                                    class="mx-auto h-10 w-10 rounded-full"
                                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="mt-3 text-center md:mt-0 md:ml-4 md:flex md:items-center"
                            >
                                <div
                                    class="text-base font-medium text-gray-900"
                                >
                                    Judith Black
                                </div>

                                <svg
                                    class="mx-1 hidden h-5 w-5 text-indigo-600 md:block"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                                >
                                    <path d="M11 0h3L9 20H6l5-20z"></path>
                                </svg>

                                <div
                                    class="text-base font-medium text-gray-500"
                                >
                                    CEO, Workcation
                                </div>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>
        </div>
    </section>

    <!-- Section: Booking -->
    <div id="booking-page" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8"></div>

    <!-- Section: Testimony -->
    <section class="overflow-hidden py-12 md:py-20 lg:py-24">
        <div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <svg
                class="absolute top-full right-full translate-x-1/3 -translate-y-1/4 transform lg:translate-x-1/2 xl:-translate-y-1/2"
                width="404"
                height="404"
                fill="none"
                viewBox="0 0 404 404"
                role="img"
                aria-labelledby="svg-workcation"
            >
                <title id="svg-workcation">Workcation</title>
                <defs>
                    <pattern
                        id="ad119f34-7694-4c31-947f-5c9d249b21f3"
                        x="0"
                        y="0"
                        width="20"
                        height="20"
                        patternUnits="userSpaceOnUse"
                    >
                        <rect
                            x="0"
                            y="0"
                            width="4"
                            height="4"
                            class="text-gray-200"
                            fill="currentColor"></rect>
                    </pattern>
                </defs>
                <rect
                    width="404"
                    height="404"
                    fill="url(#ad119f34-7694-4c31-947f-5c9d249b21f3)"></rect>
            </svg>

            <div class="relative">
                <img
                    class="mx-auto h-8"
                    src="https://tailwindui.com/img/logos/workcation-logo-indigo-600-mark-gray-800-and-indigo-600-text.svg"
                    alt="Workcation"
                />
                <blockquote class="mt-10">
                    <div
                        class="mx-auto max-w-3xl text-center text-2xl font-medium leading-9 text-gray-900"
                    >
                        <p>
                            &ldquo;Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Nemo expedita voluptas culpa
                            sapiente alias molestiae. Numquam corrupti in
                            laborum sed rerum et corporis.&rdquo;
                        </p>
                    </div>
                    <footer class="mt-8">
                        <div class="md:flex md:items-center md:justify-center">
                            <div class="md:flex-shrink-0">
                                <img
                                    class="mx-auto h-10 w-10 rounded-full"
                                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="mt-3 text-center md:mt-0 md:ml-4 md:flex md:items-center"
                            >
                                <div
                                    class="text-base font-medium text-gray-900"
                                >
                                    Judith Black
                                </div>

                                <svg
                                    class="mx-1 hidden h-5 w-5 text-indigo-600 md:block"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                                >
                                    <path d="M11 0h3L9 20H6l5-20z"></path>
                                </svg>

                                <div
                                    class="text-base font-medium text-gray-500"
                                >
                                    CEO, Workcation
                                </div>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>
        </div>
    </section>

    <!-- Section: FAQs -->
    <section aria-labelledby="faq-heading" class="bg-white">
        <div
            class="max-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8"
        >
            <div class="max-w-xl">
                <h2
                    id="faq-heading"
                    class="text-2xl font-bold tracking-tight text-gray-900"
                >
                    Frequently asked questions
                </h2>
                <p class="mt-4 text-base text-gray-500">
                    Questions. Frequently asked ones. Plus our answers. That's
                    how FAQs work. If you can't find what you're looking for,
                    you can always <a
                        href="#"
                        class="font-medium text-indigo-600 hover:text-indigo-500"
                        >send us an email</a
                    > with your enquiry.
                </p>
            </div>

            <dl
                class="mt-12 grid grid-cols-1 gap-y-10 sm:mt-16 md:grid-cols-2 md:gap-x-6 lg:grid-cols-3"
            >
                {
                    [1, 2, 3, 4, 5, 6].map(() => (
                        <div>
                            <dt class="text-base font-medium text-gray-900">
                                What&#039;s the best thing about Switzerland?
                            </dt>
                            <dd class="mt-3 text-sm text-gray-500">
                                I don&#039;t know, but the flag is a big plus.
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Quas cupiditate laboriosam
                                fugiat.
                            </dd>
                        </div>
                    ))
                }
            </dl>
        </div>
    </section>

    <script is:inline>
        window.SavvyCal =
            window.SavvyCal ||
            function () {
                (SavvyCal.q = SavvyCal.q || []).push(arguments);
            };
    </script>
    <script async src="https://embed.savvycal.com/v1/embed.js" is:inline
    ></script>
    <script is:inline>
        SavvyCal("init", {
            enabled: false,
            link: "danferg/mentoring",
            prompt: "Schedule a time",
        });
        SavvyCal("inline", {
            link: "danferg/mentoring",
            selector: "#booking-page",
        });
    </script>
</BaseLayout>
