<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Ferguson</title>
    <meta name="Description"
        content="Daniel Ferguson is a software engineer, solutions architect and the founder of the HelpingGroup; passionate about creating social innovative solutions to big problems.">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->

    <style>
        html,
        body {
            scroll-behavior: smooth
        }

        body {
            position: relative
        }

        .content {
            overflow-y: scroll;
            height: auto;
            position: relative
        }

        .badge {
            font-weight: 500
        }
    </style>
    <link rel="stylesheet" href="/style.min.css">
</head>

<body data-spy="scroll" data-target="#list-example" data-offset="1">
    <div id="app">
        <div id="hero">
            <div class="container">
                <div class="row vh-100 align-items-center">
                    <div class="d-none d-sm-block col-6 text-right">
                        <h1> DANIEL<br> FERGUSON</h1>
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-left">
                        <h6 class="py-2">Software Engineer</h6>
                        <h6>Solutions Architect</h6>
                        <h6>Founder of the <a href="https://helping.group" target="_blank"
                                rel="noopener noreferrer"><img src="assets/icons/hg.svg" alt="HelpingGroup"
                                    height="36"></a> HelpingGroup</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2">
                    <h2 class="mb-3">Who am I?</h2>
                    <p> I thought I explained that above? Kidding.</p>
                    <p> I'm a Software Engineer with a strong passion to create global social innovation.</p>
                    <p> When I'm not working, usually I'm honing in my archery skills, something or thinking of new ways
                        that I can create social innovations and improve others quality of life.</p>
                    <p> I have been developing solutions since 2011 when my passions for technology and helping people
                        led me to discover Ruby (on Rails). Finding my interest in creating websites, initially a social
                        media website. Since then, I have started a Not For Profit organisation called the HelpingGroup.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row main-content">
                <div id="list-example" class="list-group col-2 d-none d-sm-block sidebar"> <a
                        class="list-group-item list-group-item-action" href="#projects">Projects</a> <a
                        class="list-group-item list-group-item-action" href="#skills">Skills</a> <a
                        class="list-group-item list-group-item-action" href="#work">Work</a> <a
                        class="list-group-item list-group-item-action" href="#interests">Interests</a> <a
                        class="list-group-item list-group-item-action" href="#talks">Talks</a></div>
                <div class="col-12 col-sm-9 offset-sm-1 content" style="max-width: 540px;">
                    <h2 id="projects" class="mb-3 pt-3">Projects</h2>
                    <div class="card mb-3" v-for="p in this.projects.slice(0, 3)">
                        <div class="row no-gutters">
                            <div class="col-4"> <img :src="p.image" class="card-img p-3" :alt="p.title"></div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ p.title }}</h5>
                                    <p class="card-text">{{ p.description }}</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item pr-1" v-for="t in p.tags"> <span
                                                class="badge badge-info">{{ t }}</span></li>
                                    </ul>
                                    <ul class="list-inline">
                                        <li class="list-inline-item" v-for="l in p.links"> <a :href="l.url"
                                                class="btn btn-outline-info btn-sm" role="button" aria-pressed="true">
                                                {{ l.name }} </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <div class="card mb-3" v-for="p in projects.slice(3)">
                            <div class="row no-gutters">
                                <div class="col-4" v-if="p.image"> <img :src="p.image" class="card-img" :alt="p.title"
                                        style="height: 100%; object-fit: cover;"></div>
                                <div :class="[p.image ? 'col-8' : 'col-12']">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ p.title }}</h5>
                                        <p class="card-text">{{ p.description }}</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item pr-1" v-for="t in p.tags"> <span
                                                    class="badge badge-info">{{ t }}</span></li>
                                        </ul>
                                        <ul class="list-inline">
                                            <li class="list-inline-item" v-for="l in p.links"> <a :href="l.url"
                                                    class="btn btn-outline-info btn-sm" role="button"
                                                    aria-pressed="true"> {{ l.name }} </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center"> <a class="" data-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample" @click="showMore = !showMore">
                            {{ showMore ? 'Show More' : 'Show Less' }} </a></p>
                    <h2 id="skills" class="mt-5 pt-3">Skills</h2>
                    <h4>Languages & Frameworks</h4> <img v-for="l in langs" :src="'assets/icons/' + l + '.svg'"
                        class="mt-2 pr-3" height="36" :alt="l" :title="l">
                    <h4 id="technologies" class="mt-4">Technologies</h4> <img v-for="t in technologies"
                        :src="'assets/icons/' + t + '.svg'" class="mt-2 pr-3" height="36" :alt="t" :title="t">
                    <h4 id="services" class="mt-4 mb-3">Services & Tools</h4> <img v-for="(s, index) in services"
                        :src="'assets/icons/' + s + '.svg'" :class="[index > 8 ? 'hel pr-3' : 'pr-3']" height="36"
                        :alt="s" :title="s">
                    <h2 id="work" class="mt-5 mb-3 pt-3">Work</h2>
                    <div class="card mb-3" v-for="e in experience">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title">{{ e.position }}</h5>
                                </div>
                                <div class="col text-right"> <a :href="e.place.website" target="_blank"
                                        rel="noopener noreferrer"> <img class="mb-3" :src="e.place.logo"
                                            :alt="e.place.name" height="24"> </a></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-muted">{{ e.place.name }}</div>
                                </div>
                                <div class="col text-right"> <small class="text-muted text-right">{{ e.from }} -
                                        {{ e.to }}</small></div>
                            </div>
                            <p class="card-text pt-2">{{ e.role }}</p>
                            <h6>Associated Projects</h6>
                            <ul class="list-inline">
                                <li class="list-inline-item badge badge-info mr-1" v-for="p in e.projects">{{ p }}</li>
                            </ul>
                        </div>
                    </div>
                    <h2 id="interests" class="mt-5 mb-3 pt-3">Interests</h2>
                    <blockquote class="blockquote">
                        <p class="mb-0"> Variety is the very spice of life, That gives it all its flavor.</p>
                        <footer class="blockquote-footer">William Cowper's poem,<cite title="The Task">“The Task”</cite>
                        </footer>
                    </blockquote>
                    <ul class="list-inline">
                        <li class="list-inline-item" v-for="i in interests">
                            <div class="card p-1 mr-1 mb-2"> {{ i }}</div>
                        </li>
                    </ul>
                    <h2 id="talks" class="mt-5 mb-3 pt-3">Talks</h2>
                    <p class="mb-4"> I am continuously looking to share what I've learned through my experiences. If you
                        know of any great collectives that host, please shoot them through to me!</p>
                    <div class="card mb-3" v-for="t in talks"> <img :src="t.image" class="card-img" alt="t.title"
                            height="140" style="object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ t.title }}</h5> <small>{{ t.subtitle }}</small>
                            <p class="card-text">{{ t.description }}</p>
                            <p class="card-text"><small class="text-muted">{{ t.date }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center my-5">
            <h2>Want to connect?</h2>
            <p> Got an awesome idea?<br> Need some help realising your solutions?</p>
            <ul class="list-inline pt-5">
                <li class="list-inline-item" v-for="c in contacts"> <a :href="c.url" target="_blank"
                        rel="noopener noreferrer"> <img :src="'assets/icons/' + c.name + '.svg'" class="px-3"
                            height="48" :alt="c"> </a></li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script defer src="sticky.min.js"></script>
    <script defer src="app.min.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>