---
// Props
export interface Props {
    title: string;
    iconUrl: string;
}

const { title, iconUrl } = Astro.props;
---

<div class="col-span-1 flex justify-center bg-gray-50 py-8 px-8">
    <img class="max-h-12" src={iconUrl} alt={title} />
</div>
